/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #F3F4F6;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background-color: #e6e6e6;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.logo img {
    width: 80%;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
}

nav ul li {
    width: 100%;
    text-align: center;
}

.menu-title {
    font-weight: bold;
    color: black;
    margin: 15px 0 10px;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
    background-color: #e6e6e6;
    margin: -8px 20px;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #e6e6e6;
}

/* Contenido principal */
.content {
    flex: 1;
    padding: 20px;
    position: relative;
    overflow-x: scroll; /* Permite scroll horizontal */
    max-width: 100%;
}

header {
    display: flex;
    justify-content: flex-end;
}

.btn-salir {
    background-color: #2A3B5A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-agregar {
    background-color: #2A3B5A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative; /* Permite manipular su posición */
    left: -80%; /* Mueve el botón hacia la izquierda */
    margin-right: 10px; /* Separa el botón de otros elementos si es necesario */
}

/* Estilos para las columnas fijas */
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto; /* Permite que el ancho se ajuste automáticamente */
    position: relative;
}

/* Estilo para el encabezado */
thead th {
    background-color: #f1f1f1;
    position: sticky;
    top: 0;
    z-index: 2;
    text-align: center;
    border: 1px solid #ddd;
}

/* Estilo para las columnas sticky */
.sticky-col {
    position: sticky;
    left: 0;
    width: 150px; /* Ajusta el ancho de las columnas fijas */
    background-color: #f9f9f9;
    z-index: 3;
    border-right: 1px solid #ddd;
}

/* Fijar la segunda columna */
.sticky-col:nth-child(2) {
    left: 150px; /* Ancho de la primera columna */
}

/* Fijar la tercera columna */
.sticky-col:nth-child(3) {
    left: 300px; /* Ancho acumulado de las dos primeras columnas */
}

/* Estilo para celdas generales */
thead th, tbody td {
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ddd;
}

/* Alternar colores de las filas para mejor legibilidad */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo para los botones "Ver" y "Cargar Avances" */
.view-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block; /* Para evitar colisiones de tamaño */
}

.view-button:hover {
    background-color: #003d80;
    transform: scale(1.05);
}

.view-button:active {
    background-color: #002a5b;
    transform: scale(0.95);
}

/* Botón regresar */
.btn-regresar {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #003d80;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-regresar:hover {
    background-color: #0056b3;
}
